body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*---------------Header CSS--------------*/

#header 
{
    height: 100vh;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(0%, 50%);
    text-align: absolute;
}
.user-box img
{
    border-radius: 50%;
    width: 300px;
    border: 6px solid #1ab198;
}
.user-box h1
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p
{
    color: #fff;
    margin: 2px;
}